[Unit]
Description=Podman Compose App
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=15s
WorkingDirectory=/home/opc/compose2cloud/composescript
ExecStart=/usr/bin/podman-compose up -d
ExecStop=/usr/bin/podman-compose stop
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
